**/CMakeFiles/
**/bin/
**/build/
**/dist/
**/_CPack_Packages/

/.idea

**/cmake_install.cmake
/CPackSourceConfig.cmake
/CPackConfig.cmake

**/CMakeCache.txt
**/install_manifest.txt
**/Makefile

**/*.deb
