[Unit]
Description=cwoj_daemon
After=mysql.service

[Service]
ExecStart=/usr/local/bin/cwoj_daemon_daemon
Type=simple
Restart=always

[Install]
WantedBy=default.target

